<section id='stats'>
  <h1><%= @movie.title %></h1>
  <p>Created: <%= @movie.creation_year %></p>
  <p>Genre: <%= @movie.genre %></p>
  <p>Average Age of Actors: <%= @movie.average_age %>
</section> 

<section id='actors'>
  <% @actors.each do |actor|%>
    <p><%= actor.name %><p>
  <% end %>
</section>

<section id='add-an-actor'>
  <h3>Add an Actor</h3>
  <%= form_with url: "/movie_actors/#{@movie.id}", method: :post, local: true do |form| %>
  <%= form.text_field(:actor_id) %>
  <%= form.hidden_field(:movie_id, value: @movie.id) %>
  <%= form.submit 'Submit' %>
  <% end %>
</section>