<h1>Movie Show Page</h1>

<h2>Title: <%= @movie.title %></h2>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<div id="actors-age">
  <h3>Actors (Youngest to Oldest)</h3>
  <% @actors.each do |actor| %>
    <p><%= actor.name %> </p>
    <p>Age: <%= actor.age %></p>
  <% end %>
  <p>Average Age of Actors: <%= @movie.average_actor_age.round(2) %></p>
</div>

<div id="add-actor-form">
  <h3>Add Actor to Movie</h3>
  <%= form_with url: "/movies/#{(@movie.id)}", method: :post, local: true do |form| %>
    <%= form.label :actor_id, "Actor ID" %>
    <%= form.text_field :actor_id %>
    <%= form.submit "Add Actor" %>
  <% end %>
</div>

