<h1><%= @movie.title %>'s Show Page</h1>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<p>Actors in this Movie:</p>
  <% @actors.each do |actor| %>
    <ul>
      <li><%= actor.name %></li>
    </ul>
<% end %>

<p>Average Age: <%= @movie.average_age.round(2) %></p>

<%= form_with url: "/movie_actors", method: :post, local: true do |form|%>
  <%= form.label :actor_id, "Add Actor by ID:" %>
  <%= form.text_field :actor_id %>
  <%= form.hidden_field :movie_id, value: @movie.id %>
  <%= form.submit "Submit" %>
  <% end %>