<h1> Movie Show Page </h1>

<h4><%= @movie.title %></h4>
<p><%= @movie.creation_year %></p>
<p><%= @movie.genre %></p>

<% @movie.orders_actors_by_age.each do |actor| %>
<ul>
<p>Movie Actors<p>

<li>Name: <%= actor.name %></li>
<li>Age: <%= actor.age %></li>
</ul>
<% end %>


