<h1><%= @movie.title %></h1>
<h3><%= @movie.creation_year %></h3>
<h3><%= @movie.genre %></h3>

<% @movie.actors_order_of_age.each do |actor| %>
  <p><%= actor.name %></p>
<% end %>

<p>Average age of Actors: <%=@movie.average_actor_age.round %></p>

<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |f| %>
  <%= f.label :actor_id, "Actor ID" %>
  <%= f.text_field :actor_id %>
  <%= f.submit "Submit" %>
<% end %>