<h1>Movie: <%= @movie.title %></h1>
<p>Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>
<section>
<% @movie.sort_young_age.each do |actor| %>
  <p>Actor: <%= actor.name %></p>
<% end %>
</section>
<p>Average actors age: <%= @movie.average_actor_age.round %></p>

<section>
<h2> Add an Actor </h2>
<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form| %>
  <%= form.label :actor_id, "ID" %>
  <%= form.text_field :actor_id %>

  <%= form.submit "Submit" %>
<% end %>
</section>
