<h1>Movie</h1>

<section>
  
  <p> Title: <%= @movie.title %> </p>
  <p> Year: <%= @movie.creation_year %> </p>
  <p> Genre: <%= @movie.genre %> </p>
  <p> Actor by age:</p>
  <% @movie.young_to_old_actors.each do |actor| %>
    <%= actor.name %>
  <% end %>
  <p>Average Age: <%= @movie.average_age %> </p>
</section>
