<section id='stats'>
<h1><%= @movie.title %></h1>
<p>Created: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>
<p>Average Age of Actors: <%= @movie.average_age %>
</section> 
<section id='actors'>
<% @actors.each do |actor|%>
<p><%= actor.name %><p>
<% end %>
</section>
<section id='add-an-actor'>
<%= form_with url: "/movies/#{@movie.id}/new", method: :post, local: true do |form| %>
<%= form.text_field(:name) %>
<%= form.text_field(:age) %>
<%= form.submit 'Add an Actor' %>
<% end %>