<h1> Movie Show Page </h1>

<section id="movie_info-<%= @movie.id %>">
  <h4><%= @movie.title %></h4>
  <p>Year Made: <%= @movie.creation_year %></p>
  <p>Genre: <%= @movie.genre %></p>
</section>

<section id="movie_actors-<%= @movie.id %>">

<h4>Movie Actors<h4>
<% @movie.orders_actors_by_age.each do |actor| %>
<ul>

<li>Name: <%= actor.name %></li>
<li>Age: <%= actor.age %></li>
</ul>
<% end %>

<p> Average Actor's Age: <%= @movie.average_age.to_i %> years. </p>
</section>

<section id="add-actor">
  <h4> Add Actor </h4>
  <%= form_with url: "/movie_actors", method: :post, local: true do |form| %>
    <%= form.label :actor_id, "Actor ID" %>
    <%= form.text_field :actor_id %>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <%= form.submit 'Submit' %>
  <% end %>
</section>


