<h1><%= @movie.title %></h1>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<h2>List of Actors:</h2>
<ul>
  <% @actors.each do |actor| %>
    <li><%= actor.name %> (Age: <%= actor.age %>)</li>
  <% end %>
</ul>

<p>Average Age: <%= @average_age %></p>