<h1>Title: <%= @movie.title %> </h1>
<h2>Year: <%= @movie.creation_year %> </h2>
<h3>Genre: <%= @movie.genre %> </h3>
<h3>Actors: </h3>

<% @movie.order_actor_name.each do |actor| %>
  <ul>
    <li> <%= actor.name %>, <%= actor.age %> </li>
  </ul>
<% end %>

<p><b> Average Actor's Age: <%= @movie.av_actor_age %> </b></p>
<p><b> Add an actor to this movie: </b></p>
<%= form_with url: "/movies/#{@movie.id}/actors", method: :post, local: true do |form|  %>
  <%= form.label :actor_id, "Actor ID:" %>
  <%= form.number_field :actor_id %>
  <%= form.submit "Submit" %>
<% end %>