<%= @movie.title %>
<%= @movie.creation_year %>
<%= @movie.genre %>
<br>
<% @movie.age_sort.each do |actor| %>
  <br><%= actor.name %>
  <%= actor.age %>
<% end %>
<br>
<p>Average Age: <%= @movie.average_age %></p> 

<%= form_with url: "/movie_actors", method: :post, local: :true do |f| %>
  <%= f.label :actor_id %>
  <%= f.text_field :actor_id %>
  <%= f.hidden_field :movie_id, value: @movie.id %>
  <%= f.submit "Add Actor to #{@movie.title}"%>

<% end %>
