<h1>Studios</h1>
<% @studios.each do |studio| %>
  <section id="studio-<%= studio.id %>">
    <h2><%= studio.name %></h2>
    <p>Location: <%= studio.location %></p>
    <% studio.movies.each do |movie| %>
      <section id="movie-<%= movie.id %>">
        <h3><%= movie.title %></h3>
        <p><%= movie.title %></p>
        <p><%= movie.creation_year %></p>
        <p><%= movie.genre %></p>
      </section>
    <% end %>
  </section>
<% end %>