<h1>All Studios</h1>
<% @studios.each do |studio| %>
<div id="studio-<%= studio.id %>">
  <h2><%= studio.name %></h2>
  <p>Location: <%= studio.location %></p>
  <h4>All Movies</h4>
    <% studio.movies.each do |movie| %>
      <p><b>Title: <%= movie.title%></b></p>
      <p>Creation Year: <%= movie.creation_year%></p>
      <p>Genre: <%= movie.genre%></p></br>
    <% end%>
</div>
<% end %>