<h1>All Studios</h1>

<% @studios.each do |studio| %>
  <h3>Studio Name: <%= studio.name %></h3>
  <p>Location: <%= studio.location %></p>
  <div id="studio-<%= studio.id%>">
    <% studio.movies.each do |movie| %>
      <p>Movie: <%= movie.title %></p>
      <p>Year: <%= movie.creation_year %></p>
      <p>Genre: <%= movie.genre %></p>
    <% end %>
  </div>
<% end %>
